version: 2
updates:

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    versioning-strategy: "increase-if-necessary"
    reviewers:
      - "gardenlinux/garden-linux-maintainers"
      - "gardenlinux/glci-maintainers"

  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: weekly
